@{
    ViewBag.Title = "Home Page - Runnymede EPC Web App for Energy Ratings";
}

<div class="jumbotron">
    <h1>Welcome to Runnymede Energy Rating Web App!</h1>
    <p class="lead">Using C# .Net Framework with MVC and EPC api as example.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("EPCResults", "Home")">View Ratings!</a></p>
</div>

@*
<div class="row">
    <div class="col-md-4">
        <h2>Runnymede EPC Web App for Energy Ratings</h2>
        <p>
            Using C# .Net Framework with MVC and EPC api as example.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
*@